@import url(./flatpickr.css);

input[name="title"] {
    all: unset;
    font-size: 3rem;
    caret-color: var(--blue-light);
    vertical-align: text-bottom;
    height: 60px;
    width: 80%;
}

.task-div {
    display: flex;
    flex-direction: column;
    padding: 0 1%;
    transition: all 0.2s;
}

.task-div:hover,
.task-div.selected {
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px 1px var(--bg-sidebar-active);
    background-color: hsla(210, 20%, 98%, 0.849);
}

.task-title,
.task-note,
.checklist-item-text {
    padding-right: 2rem;
    height: 1.3rem;
    display: flex;
    align-items: flex-end;
}

.selected .task-title:hover,
.selected .task-note:hover,
.selected .checklist-item-text:hover {
    cursor: text;
}

.task-title[contenteditable],
.task-note[contenteditable],
.checklist-item-text[contenteditable] {
    text-decoration: underline var(--blue-light) 2px;
}

.selected .task-title:focus-visible
.selected .task-note:focus-visible,
.selected .checklist-item-text:focus-visible {
    outline: var(--blue-light) solid 2px;
}

/* main task area */
.task-main {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'CabinetGrotesk-Bold';
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-check {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    background-color: inherit;
    cursor: pointer;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid currentColor;
    border-radius: 0.15rem;
    transform: translateY(-0.075rem);
    position: relative;
    display: grid;
    place-content: center;
}

.task-check:focus-visible {
    outline: max(2px, 0.15rem) solid var(--blue-light);
    outline-offset: max(3px, 0.15rem);
}

/* to extend the range of checkbox to just outside it */
.task-check:after {
    content: "";
    width: 35px;
    height: 35px;
}

.task-check:before {
    content: "";
    width: 0.50rem;
    height: 0.50rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem currentColor;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    position: absolute;
    top: 15%;
    left: 15%;
}

.task-check:checked:before {
    transform: scale(1);
}

.task-right {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.priority-div[data-priority='1'],
.priority-btn[data-priority='1'],
a[data-priority="1"] {
    color: var(--maroon-light);
}

.priority-div[data-priority='2'],
.priority-btn[data-priority='2'],
a[data-priority="2"] {
    color: var(--peach-light);
}

.priority-div[data-priority='3'],
.priority-btn[data-priority='3'],
a[data-priority="3"] {
    color: var(--blue-light);
}

.date-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'CabinetGrotesk-Bold';
}

.date-div ion-icon {
    margin-right: -0.2rem;
}

.overdue {
    color: var(--red-light);
}

/* end of main task area */

.task-note {
    margin: -0.2rem 0 0.7rem 2.25rem;
    font-family: 'CabinetGrotesk-Medium';
}

.checklist-div {
    margin: -0.2rem 2.25rem 0.7rem 2.75rem;
    font-family: 'CabinetGrotesk-Regular';
}

.checklist-item-div {
    padding: 0.3rem 0.5rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.checklist-item-div:hover {
    background-color: var(--bg-sidebar-light);
}

.checklist-item-div + .checklist-item-div {
    border-top: solid 0.1px var(--bg-sidebar-light);
}

.checklist-item-text {
    margin-left: 0.5rem;
}

.subtask-check {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    cursor: pointer;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.subtask-check:focus-visible {
    outline: max(2px, 0.15rem) solid var(--blue-light);
    outline-offset: max(3px, 0.15rem);
}

.subtask-check:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: currentColor;
}

.subtask-check:checked {
    opacity: 0.6;
}

.subtask-check:checked::before {
    transform: scale(1);
}

/* task edit */
.task-control {
    font-family: 'CabinetGrotesk-Medium';
    font-size: 0.9rem;
    padding-left: 2.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-control button {
    all: unset;
    cursor: pointer;
    height: 1.8rem;
    display: inline-block;
}

.task-control-left,
.task-control-right {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.priority-btn[data-priority] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority-btn > span {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 0.95rem;
    position: relative;
    top: 0.05rem;
    left: -0.2rem;
}

.task-control-right .change-proj-btn {
    padding: 0 0.5rem;
    width: auto;
    text-align: center;
    vertical-align: middle;
}

.change-proj-icon {
    vertical-align: bottom;
}

.list-control, .priority-control {
    margin: 0 0.4rem;
}

.priority-btn:hover, .change-proj-btn:hover,
.checklist-btn:hover, button.active-drop {
    background-color: var(--bg-sidebar-light);
    border-radius: 3px;
}

.editing .checklist-btn:hover {
    cursor: not-allowed;
}

.control-button-div {
    display: none;
    gap: 0.4rem;
    justify-content: center;
}

.editing .control-button-div {
    display: flex;
}

.control-button-div button {
    text-align: center;
    width: 60px;
    border-radius: 5px;
    background-color: var(--bg-sidebar-light);
    transition: all 0.2s;
}

.control-button-div button:hover {
    box-shadow: 0 0 1px 1px var(--bg-sidebar-light);
}

.control-button-div .save-btn {
    background-color: var(--blue-light);
    color: var(--bg-light);
}

.date-control {
    all: unset;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 0.85rem;
    width: 8rem;
    height: 1.2rem;
    border-radius: 3px;
    position: relative;
    top: 0.1rem;
}

.striked {
    text-decoration: line-through;
    opacity: 0.35;
}

.hidden {
    display: none;
}