@import url(../assets/css/cabinet-grotesk.css);

:root {
    --bg-sidebar-light: #dce0e8;
    --bg-sidebar-active: #acb0be;
    --bg-light:  #eff1f5;   /* crust */
    --red-light: #d20f39;
    --maroon-light: #e64553;
    --blue-light: #209fb5;
    --teal-light: #179299;
    --peach-light: #fe640b;
    --text-light: #4c4f69;
    --select-light: hsla(210, 20%, 98%, 1);
}

body {
    min-height: 100vh;
    background-color: var(--bg-light);
    font-family: 'CabinetGrotesk-Regular', sans-serif;
    color: var(--text-light);
}

h1 {
    font-size: 3rem;
}

a {
    color: inherit;
}