@import url(../assets/css/cabinet-grotesk.css);

:root {
    --bg-sidebar-light: #ccd0da;
    --bg-sidebar-active: #acb0be;
    --bg-light: #eff1f5;
    --red-light: #d20f39;
    --blue-light: #209fb5;
    --teal-light: #179299;
}

body {
    min-height: 100vh;
    background-color: var(--bg-light);
    font-family: 'CabinetGrotesk-Regular', sans-serif;
}

h1 {
    font-size: 3rem;
}